body {
    margin: 0;
}

p {
    color: #FFFFFF;
    width: 400px;
    font-family: Arial, sans-serif;
}

.formCont {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-image: url(../images/overlay.png);
    text-align: center;

    display: -webkit-flex;
	display:  -webkit-box;
	display:  -ms-flexbox;
	display:         flex;
    
    -webkit-align-items: center;
     -webkit-flex-align: center;
         -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-justify-content: center;
            justify-content: center;
    
    display: none;
}

input,
textarea {
    clear: left;
    float: left;
    margin: 5px;
    padding: 5px;
    border: none;
    color: #0000CC;
}

textarea {
    resize: none;
}

input[type="button"] {
    padding: 10px;
    background-color: #0099FF;
}

input[type="button"]:hover {
    background-color: #44AAFF;
}